<div class="col-md-10 offset-md-1 mt-5">
  <h1>Products</h1>
  <a routerLink="add" class="btn btn-sm btn-success mb-2">Add Product</a>
  <table class="table table-striped border">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th style="width: 14%">Product Code</th>
        <th>Price</th>
        <th>Category</th>
        <th style="width: 18%">Manufacturing Date</th>
        <th style="width: 14%">Expiry Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <img
            id="productimage"
            src="{{ product.image }}"
            width="100"
            height="100"
          />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.productCode }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.manufactureDate | date}}</td>
        <td>{{ product.expiryDate | date}}</td>
        <td>{{ product.status }}</td>
        <td style="white-space: nowrap">
          <a
            routerLink="edit/{{ product._id }}"
            class="btn btn-sm btn-primary mr-1"
            >Edit</a
          >
          <button
            (click)="deleteProduct(product._id)"
            class="btn btn-sm btn-danger btn-delete-user"
            [disabled]="product.isDeleting"
          >
            <span
              *ngIf="product.isDeleting"
              class="spinner-border spinner-border-sm"
            ></span>
            <span *ngIf="!product.isDeleting">Delete</span>
          </button>
        </td>
      </tr>
      <tr *ngIf="!products">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
